*{
	margin:0;
	padding:0;
}

@font-face
{
	font-weight:normal;
	font-style:normal;
}

body{
background: #FFF;
color:#000000;
font-family:Helvetica, Verdana;
font-size: 1em;
}

h3{
color:#F60;
margin:0.25em auto;
text-align:center;
text-shadow: 5px 5px 10px rgba(255,255,255,o.5);
}

header, footer {
background:#DEDEDE;
border-radius:0.5em;
margin: 0.5em auto;
max-width:960px;
padding:0.25em;
text-align:center;
}

section#content{
margin:0.2em auto;
max-width:960px;
padding:0;
text-align:center;
}

#principal{
background-image:url(../imagenes/fondo.jpg);
border-radius:0.5em;
margin:0.25em auto;
max-width:960px;
min-height:500px;
padding:0.25em;
text-align:center;
width:95%;
height: 10%;
}

.form
{
	margin: 0 auto;
	text-align: left;
}

.Separador
{
	width: 150px;
	height: 30px;
}




